@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
@import '../Colors.scss';

body {
	margin: 0;
	font-family: 'Noto Sans SC', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.App a {
	color: $cyan;
}

.App p {
	margin-bottom: 0;
}

.Logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
.Logo svg {
	width: 32px;
	height: 32px;
}

.Logo h1 {
	margin: 0px 10px;
}
