@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
@import '../Colors.scss';

body {
	margin: 0;
	font-family: 'Noto Sans SC', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	font-size: 0.9rem;
}

.App a {
	color: $cyan;
}

.Header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 0.9rem;
	margin: 5px 0 0 0;
}
.Logo svg {
	width: 32px;
	height: 32px;
}
.Logo h1 {
	margin: 0px 10px;
}

.Header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}
