@import '../../Colors.scss';

.Thumbnail {
	clip-path: circle(62px at center);
}

.UserName {
	font-size: 1.5rem;
	color: $deep_grey;
	text-align: center;
}

.UserDetails {
	font-size: 1rem;
	color: $deep_grey;
	text-align: center;
}

.UserCardDisplay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $white;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.UserCardDisplay h2 {
	margin: 0;
}

.Bold {
	font-weight: bold;
}

.DisplayCard {
	min-width: 650px;
	height: 70%;
	border: 1px solid $deep_grey;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: $deep_grey;
	text-align: center;
}

.DetailsContainer {
	width: 100%;
	height: 100%;
}
