.Thumbnail {
	clip-path: circle(62px at center);
}

.UserName {
	font-size: 1.7rem;
	color: grey;
	text-align: center;
}

.UserEmail {
	font-size: 1rem;
	color: grey;
	text-align: center;
}

.UserPhone {
	font-size: 1rem;
	color: grey;
	text-align: center;
}

.UserLocation {
	font-size: 1rem;
	color: grey;
	text-align: center;
}

.UserRegistrationDate {
	font-size: 1rem;
	color: grey;
	text-align: center;
}
