@import '../../Colors.scss';

<<<<<<< HEAD
.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

=======
>>>>>>> v2
.UsersContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
<<<<<<< HEAD
	// align-content: space-between;
	// height: 80vh;
=======
	height: 500px;
>>>>>>> v2
}

.UserCard {
	position: absolute;
	background: $white;
	width: 280px;
	height: 380px;
	border: 1px solid $deep_grey;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
